.section {
  margin: var(--st-space-80) 0;
}

.header {
  padding: var(--st-space-64) 0 var(--st-space-48);
  max-width: 900px;
  display: grid;
  gap: var(--st-space-16);
}

.header h1 {
  margin: 0;
}

.image {
  display: block;
  width: 100%;
  max-height: 640px;
  object-fit: cover;
}
